.custom-group-banner-t {
  display: flex;
  flex-direction: column;
  padding: .5em 2.5em .5em 1em;
  margin: 0;

  &.info-banner {
    background-color: var(--tertiary-low);
  }

  &.success-banner {
    background-color: var(--success-low);
  }

  &.danger-banner {
    background-color: var(--danger-low);
  }
}